@section Styles {
    <link rel="stylesheet" href="~/css/admin_manager.css">
}
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@model List<BlindBoxWebsite.Models.BlindBox>

<div class="product-management">
    <h2>Product Management</h2>
    <button class="add-product-btn">
        <i class="fas fa-plus"></i> Add Product
    </button>
    <table class="product-table">
        <thead>
            <tr>
                <th>BlindBox ID</th>
                <th>Name</th>
                <th>Description</th>
                <th>List Products</th>
                <th>Price</th>
                <th>Stock</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach(var product in Model)
            {
                <tr>
                    <td>@product.BlindBoxId</td>
                    <td>@product.Name</td>
                    <td>@product.Description</td>
                    <td>@product.Product</td>
                    <td>@product.Price.ToString("N0") VNĐ</td>
                    <td>@product.Stock</td>
                    <td>
                        <a href="/Admin/EditBlindBoxes/@product.BlindBoxId" class="btn btn-sm btn-primary">Edit</a>
                        <a href="/Admin/DeleteBlindBoxes/@product.BlindBoxId" class="btn btn-sm btn-danger">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>