@section Styles {
    <link rel="stylesheet" href="~/css/admin_manager.css">
}
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@model List<BlindBoxWebsite.Models.User>

<div class="user-management">
    <h2>User Management</h2>
    <table class="user-table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Username</th>
                <th>Email</th>
                <th>FullName</th>
                <th>Address</th>
                <th>Phone Number</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach(var user in Model)
            {
                <tr>
                    <td>@user.UserId</td>
                    <td>@user.Username</td>
                    <td>@user.Email</td>
                    <td>@user.FullName</td>
                    <td>@user.Address</td>
                    <td>@user.PhoneNumber</td>
                    <td>
                        <a href="/Admin/EditUser/@user.UserId" class="btn btn-sm btn-primary">Edit</a>
                        <a href="/Admin/DeleteUser/@user.UserId" class="btn btn-sm btn-danger">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>