@model List<BlindBoxWebsite.Models.BlindBox>
@{
    ViewData["Title"] = "Gift Suggest";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section GiftSuggest{
    <link rel="stylesheet" href="~/css/gift_suggest.css" />
}

<div class="container">
        <div class="blind-box-section">
            <h1>Các Sản Phẩm BlindBox</h1>
            <p>Khám phá các hộp quà Blind Box độc đáo được thiết kế riêng để mang lại sự bất ngờ và thú vị cho bạn. Chọn Blind Box để trải nghiệm sự độc đáo mà chỉ chúng tôi mới có!</p>
            <div class="blind-box-products">
                @foreach (var product in Model)
                {
                    <div class="blind-box-item">
                        <h3>@product.Name</h3>
                        <img src="@Url.Content("~/" + product.ImageUrl)" alt="@product.Name" style="height: 290px; object-fit: cover;"/>
                        <div class="price">@product.Price.ToString("N0") VND</div>
                        <div class="stock" style="display: none">@product.Stock</div>
                        <p>@product.Description</p>
                        <p style="display: none">@product.BlindBoxId</p>
                        <form action="@Url.Action("BlindBox", "Product")" method="post">
                            <input type="hidden" name="Name" value="@product.Name" />
                            <input type="hidden" name="Price" value="@product.Price" />
                            <input type="hidden" name="ImageUrl" value="@Url.Content("~/" + product.ImageUrl)" />
                            <input type="hidden" name="Description" value="@product.Description" />
                            <input type="hidden" name="BlindBoxId" value="@product.BlindBoxId" />
                            <input type="hidden" name="Stock" value="@product.Stock" />
                            <button class="btn btn-sm btn-info" style="margin-top: 10px; background-color: #9fd4cd">
                                Chi Tiết
                            </button>
                        </form>
                    </div>
                }
            </div>
            <button class="btn btn-primary">
                <a style="text-decoration: none; color: black;" href="@Url.Action("BlindBoxGift", "Product")">Xem thêm các Blind Box</a>
            </button>
        </div>

        <div class="recommended-section">
            <h2>Gợi Ý Sản Phẩm Dành Cho Bạn</h2>
            <p>Dựa trên kết quả từ quiz, chúng tôi đã chọn ra những sản phẩm từ Shopee có thể phù hợp với bạn.</p>
            <div class="products">
                <div class="product-item">
                    <h3>Tinh Dầu Thiên Nhiên</h3>
                    <img src="~/images/tinh-dau-shoppe.jpg" alt="tinh dau" style="height: 320px; object-fit: cover;">
                    <div class="price">587,000 VND</div>
                    <p>Tinh dầu thiên nhiên thư giãn. Được chiết xuất từ cây cỏ và hoa, sản phẩm này mang lại nhiều lợi ích cho sức khỏe và tinh thần.</p>
                    <button class="shop-now-btn">
                        <a style="text-decoration: none; color: white;" href="https://shopee.vn/Tinh-D%E1%BA%A7u-Thi%C3%AAn-Nhi%C3%AAn-Lo%E1%BA%A1i-3ml-MUJI-i.601622525.15832304873?sp_atk=69abcb4e-b67c-445e-aae7-079a1a2db91d&xptdk=69abcb4e-b67c-445e-aae7-079a1a2db91d" target="_blank">Chi Tiết</a>
                    </button>
                </div>
                <div class="product-item">
                <h3>Giày Adidas RUNNING Ultraboost 20</h3>
                    <img src="~/images/giay_adidas_shoppe.jpg" alt="giay ultrarun" style="height: 290px; object-fit: cover;">
                    <div class="price">2,100,000 VND</div>
                    <p>Nhẹ nhàng chinh phục đường chạy sáng sớm và hoạt động buổi chiều với đôi giày chạy bộ adidas này.</p>
                    <button class="shop-now-btn">
                    <a style="text-decoration: none; color: white;" href="https://shopee.vn/Gi%25C3%25A0y-adidas-n%25E1%25BB%25AF-RUNNING-Ultraboost-20-M%25C3%25A0u-Tr%25E1%25BA%25AFng-EG5177-i.20107607.3070120204?sp_atk=67250a76-7cd7-47fa-8de7-046b735b6f60&xptdk=67250a76-7cd7-47fa-8de7-046b735b6f60" target="_blank">Chi Tiết</a>
                    </button>
                </div>
                <div class="product-item">
                    <h3>Robot hút bụi Samsung Powerbot</h3>
                    <img src="~/images/robothutbui_samsung_shoppe.jpg" alt="robot hut bui" style="height: 321px; object-fit: cover;">
                    <div class="price">4,790,000 VND</div>
                    <p>Robot hút bụi Samsung powerbot-E là sản phẩm kết hợp đột phá của công nghệ AI với khả năng làm sạch vượt trội.</p>
                    <button class="shop-now-btn">
                    <a style="text-decoration: none; color: white;" href="https://shopee.vn/-Nh%25E1%25BA%25ADp-ELSSDA259-gi%25E1%25BA%25A3m-th%25C3%25AAm-15-Robot-h%25C3%25BAt-b%25E1%25BB%25A5i-lau-s%25C3%25A0n-Samsung-Powerbot-E-l%25E1%25BB%25B1c-h%25C3%25BAt-c%25E1%25BB%25B1c-m%25E1%25BA%25A1nh-4200Pa-(VR05R5050WK)-i.65589552.12164539589?sp_atk=0e4115cc-c5be-4848-9fe3-a899998ea7ab&xptdk=0e4115cc-c5be-4848-9fe3-a899998ea7ab" target="_blank">Chi Tiết</a>
                    </button>
                </div>
            </div>
        </div>
    </div>
